.more-bib-info {
    padding: 1em;
    width: 40em;
    white-space: normal;
}

.bib-info {
    font-size: 14pt;
    margin-right: 2em;
}

.cm-changed {
    color: #ffaa00;
}

.cm-changed-unsaved {
    color: #aaaa00;
}

.cm-language {
    font-weight: bold;
}

#facsimile-container {
    overflow:hidden;
    position:relative;
    top:0px;
    left:0px;
    outline: 1px solid #aaaaaa;
}

#editor {
}

#toolbar {
}

#vkeyboard {
}

#editor {
    outline: 1px solid #aaaaaa;
}

#boxes {
    background: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:990;
    pointer-events: none;
}

.highlight-box, .layout-box {
    position: absolute;
}

.layout-box {
    outline: 1px solid rgb(255,0,0);
    background: rgba(255,0,0,0.2);
}

.highlight-box {
    outline: 1px solid rgb(255,255,0);
    background: rgba(255,255,0,0.2);
}

#facsimile-canvas {
    background-image: url(../img/canvas-bg.png);
}

#spinner,#greyout {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#greyout {
    background-color: white;
    opacity: 0.5;
}

#page-selector,#bib-info {
    margin-bottom: 0;
}

body {
    overflow:hidden;
}
