.CodeMirror {
    font-family: sans-serif;    
}

.more-bib-info {
    padding: 1em;
    width: 40em;
    white-space: normal;
}

.bib-info {
    font-size: 14pt;
    margin-right: 2em;
}

.cm-changed-unsaved {
    color: #ffaa00;
}

.cm-changed {
    font-style: italic;
}

.cm-language {
    font-weight: bold;
}

.cm-highlight {
    background: rgba(255,255,0,0.2);
}

.row-fluid .vertical {
    margin-top: 0;
    margin-bottom: 0;
}

.row-fluid .horizontal {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}

.row-fluid .horizontal:first-child {
    margin-top: 0;
}

#document {
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#document img {
    max-width: 240px;
    max-height: 240px;
    min-width: 120px;
    min-height: 120px;
    margin: 16px;
}

#facsimile-container {
    background-color: rgb(220,220,220);
    overflow:hidden;
    /* overflow:auto;*/
    position:relative; /*to fit boxes*/
    top:0px;
    left:0px;
    outline: 1px solid #aaaaaa;
}

#facsimile-canvas {
    position: static;
}

.page-image-container {
    position: absolute;
    top: 100px;
    left: 100px;
    box-shadow: 0px 0px 10px 0px black;
}

.page-image {
    position: absolute;
}

#editor {
}

#toolbar {
}

#vkeyboard {
}

#editor {
    outline: 1px solid #aaaaaa;
}

#editor.dirty {
    outline: 1px solid #ffaa00;
}

#boxes {
    background: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:990;
}

.highlight-box, .layout-box {
    position: absolute;
}

.layout-box {
    outline: 1px solid rgb(255,0,0);
    background: rgba(255,0,0,0.2);
}

.layout-box.selected-layout-box {

    background: rgba(255,0,0,0.4);
    
}

.highlight-box {
    outline: 1px solid rgb(255,255,0);
    background: rgba(255,255,0,0.2);
}

#spinner,#greyout {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#greyout {
    background-color: white;
    opacity: 0.5;
}

#page-selector,#bib-info {
    margin-bottom: 0;
}

body {
    overflow:hidden;
}
