{{#dialogs}}
<div class="modal hide" id="{{id}}">
    <div class="modal-header">
        <h3>{{header}}</h3>
    </div>
    <div class="modal-body">
        {{#messages}} <p>{{.}}</p> {{/messages}}
        <form id="loginform" method="post">
            Tag:<br> <input type="text" name="tag" id="textareatag" size="15" /> <br>
            <input class="btn" type="submit" value="Save Tag" id="savetag" />
        </form>
    </div>
    <div class="modal-footer">
        {{#buttons}} <button class="{{classes}}" {{{extra}}} id="{{id}}"> {{name}} </button> {{/buttons}}
    </div>
</div>
{{/dialogs}}