{{#widgets}}
<div class="{{classes}}" id="{{id}}">

</div>
{{/widgets}}
{{#buttons}}
<button type="button" class="{{classes}}" id="{{id}}" {{{extra}}} title="{{title}}"> {{#icon}} <i class="{{icon}}"> </i> {{/icon}} {{#text}} {{text}} {{/text}} </button>
{{/buttons}}
{{#usersediting}}
<div class="btn-group pull-right"><h4>{{number}} users are editing this document right now.</h4></div>
{{/usersediting}}
{{#userediting}}
<div class="btn-group pull-right"><h4>{{number}} user is editing this document right now.</h4></div>
{{/userediting}}