{{#widgets}}
    <div class="{{classes}}" id="{{id}}">

    </div>
{{/widgets}}
{{#buttons}}
    <button type="button" class="{{classes}}" id="{{id}}" {{{extra}}} title="{{title}}"> {{#icon}} <i class="{{icon}}"> </i> {{/icon}} {{#text}} {{text}} {{/text}} </button>
{{/buttons}}
<div class="pull-right btn-toolbar">
    <div class="btn-group">
        {{#userbox}}
            <button type="button" alt="User {{user}} is editing this document." id="userbox" class="btn btn-mini">{{user}}</button>
        {{/userbox}}
    </div>
</div>
{{#downloadxml}}
    <a href="#" class="pull-right" id="downloadxml">Download XML</a>
{{/downloadxml}}